
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<a href="/Default/Index" class="btn btn-dark">Index sayfası</a>
<a href="/Default/Urunler" class="btn  btn-info">Ürünler Sayfası</a>
<a href="/Default/Deneme" class="btn  btn-info">Deneme Sayfası</a>


<h1>@ViewBag.d</h1>
<h4>@ViewBag.k</h4>

