
@using Proje_OOP.Entity
@model List<Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Müşteri Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Müşteri Adi</th>
        <th>Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.City</td>
                    <td><a href="/Customer/DeleteCustomer/@item.Id" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Customer/updateCustomer/@item.Id" class="btn btn-success">Guncelle</a></td>

                </tr>
            }
</table>
<a href="/Customer/AddCustomer/" class="btn btn-primary">Yeni Müşteri Girişi</a>

