@model Demo_project.Models.UserRegisterViewModel
@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register - SB Admin</title>
    <link href="~/startbootstrap-sb-admin-gh-pages/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Yeni Hesap Oluştur</h3></div>
                                <div class="card-body">
                                    <form method="post">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" name="Name" id="inputFirstName" type="text" />
                                                    <label for="inputFirstName">Adınız</label>
                                                    <span asp-validation-for="Name"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control" name="Surname" id="inputLastName" type="text" />
                                                    <label for="inputLastName">Soyadınız</label>
                                                    <span asp-validation-for="Surname"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="Mail" id="inputEmail" type="email" />
                                            <label for="inputEmail">Email addresiniz</label>
                                            <span asp-validation-for="Mail"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="UserName" id="inputEmail" type="text" />
                                            <label for="inputEmail">Kullanıcı Adınız</label>
                                            <span asp-validation-for="UserName"></span>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" name="Password" id="inputPassword" type="password" />
                                                    <label for="inputPassword">Şifre</label>
                                                    <span asp-validation-for="Password"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" name="ConfirmPassword" id="inputPasswordConfirm" type="password" />
                                                    <label for="inputPasswordConfirm">Şifreyi Doğrula</label>
                                                    <span asp-validation-for="ConfirmPassword"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                        <button class="btn btn-primary btn-block">Hesap Oluştur</button>
                                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="login.html">Zaten Bir Hesabın Var mı? Oturum Aç </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy;@DateTime.Now.Year Tüm Hakları Saklıdır</div>
                        <div>
                            <a href="#">Gizlilik</a>
                            &middot;
                            <a href="#">Kurallar &amp; Şartlar</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/js/scripts.js"></script>
</body>
</html>
