@model EntityLayer.Concrete.Job
@{
    ViewData["Title"] = "AddJOb";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<form method="post">
    @Html.Label("Meslek Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Mesleği Ekle</button>
</form>

