@using EntityLayer.Concrete
@model List<Job>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Meslek Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.JobID</td>
    <td>@item.Name</td>
    <td><a href="/Job/DeleteJob/@item.JobID" class="btn btn-outline-danger">Sil</a></td>
    <td><a href="/Job/UpdateJOb/@item.JobID" class="btn btn-outline-success">Güncelle</a></td>
    <td><a href="/Job/DetailsJOb/@item.JobID" class="btn btn-outline-primary">Detaylar</a></td>
</tr>
    }
</table>

