
@using Proje_OOP.Entity
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Ürün Sayfası</h1>

<table class="tabele table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adi</th>
        <th>Fiyatı</th>
        <th>Stok</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Stock</td>
                    <td><a href="/Product/DeleteProduct/@item.Id" class="btn btn-danger" >Sil</a></td>
                    <td><a href="/Product/UpdateProduct/@item.Id" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
</table>
<a href="/Product/Addproduct/" class="btn btn-primary">Yeni Ürün Girişi</a>